@model WibbleCore.Models.Customer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>@Html.ActionLink("Michael Owen", "Details", "Customers", new { id = 1 })</td></tr>
        <tr><td>@Html.ActionLink("Steven Gerrard", "Details", "Customers", new { id = 2 })</td></tr>
    </tbody>
</table>